<!DOCTYPE html>
<meta charset="UTF-8">
<title><%=typeof title === 'undefined' ? '' : title%> - Admin</title>
<link rel="stylesheet" href="/public/admin.css?v=1.0">
<body class="<%=_template.replace(/\//g, '-')%>">
	<%-body%>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/public/admin.js?v=1.0"></script>
</body>
